*DS_Store*
*xcworkspace/xcuserdata/*
*xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata
Pods/*
Podfile.lock
*save
build/*
